<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51570400083-ulr6ct9cc544adfjuviergi98v6oejso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51570400083-ulr6ct9cc544adfjuviergi98v6oejso</string>
	<key>API_KEY</key>
	<string>AIzaSyBaTNzCsBIZNUtZoIbxe9LrYH78jgGlxgY</string>
	<key>GCM_SENDER_ID</key>
	<string>51570400083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yarvis</string>
	<key>PROJECT_ID</key>
	<string>yarvis-ia-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>yarvis-ia-chat.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51570400083:ios:fec1467eacfed0dd989fa6</string>
</dict>
</plist>